*.pyc
*.egg-info
*.eggs
build

# data
*.txt
*.out
*.csv
*.xml

!requirements.txt
!rtd-requirements.txt

dist
.cache
.pytest_cache

bower_components
node_modules

htmlcov
.coverage
.tox

docs/_build
docs/apidocs
docs/modules.rst
docs/nlppln.rst
docs/nlppln.commands.rst
docs/tools.rst
