{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/utils.html" as utils %}

{% block title %}NLP Pipeline{% endblock %}

{% block navbar %}

{% set navigation_bar = [
] -%}

{% set active_page = active_page|default('runs') -%}

<nav class="navbar navbar-default">
  <div class="container" id="top">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">NLP Pipeline</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul id="navigation" class="nav navbar-nav">
      {% for href, id, caption in navigation_bar %}
        <li{% if id == active_page %} class="active"{% endif %}><a href="{{ href|e }}">{{ caption|e }}</a></li>
      {% endfor %}
      </ul>
    </div>
    <!--/.nav-collapse -->
  </div>
  <!--/.container -->
</nav>
{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-12">

    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
    </div>
  </div>
{% endblock %}
</div>
