{% extends 'base.html' %}

{% block content %}
<div  ng-app="nlppln">
  <div class="container" ng-controller="NEController as ne">
    <div class="row">
      <div class="col-md-12">
        <h1>Named Entities</h1>

        <uib-tabset active="active">
          <uib-tab index="0" heading="Overview">
            <p>Found {{ ne.numNamedEntities | angular }} named entities in {{ ne.numTexts | angular }} texts.</p>

            <p><a href ng-click="loadText('m2-20160726.txt.out.json');">Load m2-20160726.txt.out.json</a>

            <table id="nerdata" class="table table-striped table-bordered" cellspacing="0" width="100%">
            </table>
          </uib-tab>

          <uib-tab index="1" heading="Text">
            <div class="row">
              <div class="col-md-7">
                <div ng-repeat="s in ne.sentences">
                  <span ng-repeat="token in s.values">
                    <span ng-style="neColor(token);">{{ token.word | angular }}</span>
                  </span>
                  <br/>
                </div>
              </div>
              <div class="col-md-5">
                <table id="nertext" class="table table-bordered" cellspacing="0">
                </table>
              </div>
            </div>
          </uib-tab>

        </uib-tabset>

      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
      </div>
    </div>
  </div>
{% endblock %}
