{% extends 'base.html' %}

{% block scripts %}
  {{ super() }}
  <script src="static/bower_components/jquery/dist/jquery.js"></script>
  <script src="static/bower_components/datatables.net/js/jquery.dataTables.js"></script>
  <script src="static/bower_components/datatables/media/js/dataTables.bootstrap.js"></script>
  <script src="static/bower_components/angular/angular.js"></script>
  <script src="static/bower_components/angular-resource/angular-resource.js"></script>
  <script src="static/bower_components/angular-route/angular-route.js"></script>
  <script src="static/bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
  <script src="static/bower_components/angular-datatables/dist/angular-datatables.js"></script>
  <script src="static/bower_components/d3/d3.js"></script>

  <script src="static/js/app.js"></script>
  <script src="static/js/controllers/ne-controller.js"></script>
  <script src="static/js/controllers/ne-text-controller.js"></script>
  <script src="static/js/services/ne-service.js"></script>

{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet"
      href="static/bower_components/datatables/media/css/dataTables.bootstrap.css">
{% endblock %}

{% block content %}
<div ng-app="nlppln">
  <div class="container" ng-controller="NEController as ne">
    <div class="row">
      <div class="col-md-12">
        <h1>Named Entities</h1>

        <uib-tabset active="active">
          <uib-tab index="0" heading="Overview">
            <p>Found {{ ne.numNamedEntities | angular }} named entities in {{ ne.numTexts | angular }} texts.</p>

            <table cdatatable="ng" class="table table-striped table-bordered"
                   cellspacing="0" width="100%">
              <thead>
                <tr>
                  <th>Text</th>
                  <th ng-style="neColor({'ne': 'PER'});">Person</th>
                  <th ng-style="neColor({'ne': 'LOC'});">Location</th>
                  <th ng-style="neColor({'ne': 'ORG'});">Organization</th>
                  <th ng-style="neColor({'ne': ''});">Unspecified</th>
                  <th>Total</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="t in ne.neDataTexts">
                  <td><a href ng-click="loadText(t.text);">{{ t.text | angular }}</a></td>
                  <td>{{ t.PER | angular }}</td>
                  <td>{{ t.LOC | angular }}</td>
                  <td>{{ t.ORG | angular }}</td>
                  <td>{{ t.NE | angular }}</td>
                  <td>{{ t.total | angular }}</td>
                </tr>
              </tbody>
            </table>
          </uib-tab>

          <uib-tab index="1" heading="Text">
            <div class="row" ng-controller="NETextController as net">
              <div class="col-md-7">
                <div ng-repeat="s in net.sentences">
                  <span ng-repeat="token in s.values">
                    <span ng-style="neColor(token);">{{ token.word | angular }}</span>
                  </span>
                  <br/>
                </div>
              </div>
              <div class="col-md-5">
                <table id="nertext" class="table table-bordered" cellspacing="0">
                  <thead>
                    <tr>
                      <th>NE type</th>
                      <th>Word(s)</th>
                      <th>Frequency</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="e in net.neDataText">
                      <td ng-style="neColor({'ne': e.ner});">{{ e.ner | angular }}</td>
                      <td ng-style="neColor({'ne': e.ner});">{{ e.word | angular }}</td>
                      <td ng-style="neColor({'ne': e.ner});">{{ e.text | angular }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </uib-tab>

        </uib-tabset>

      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
      </div>
    </div>
  </div>
{% endblock %}
